<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/resources :: head(title='PhotoGallery')}"></th:block>
</head>
<body>
<h1>Photo Gallery</h1>
<hr>
<table>
    <thead>
    <tr>
        <th>Titolo</th>
        <th>Foto</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="photo : ${photoList}">
        <td th:text="${photo.title}"></td>
        <img th:src="${photo.url}" style="max-width: 200px; max-height: 200px;"></img>
    </tr>
    </tbody>
</table>
</body>
</html>