.photo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.photo-container img {
      max-width: 200px;
      max-height: 200px;
      margin-bottom: 10px;
}
